* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    outline: none;
}

body {
    background-color: #8A51FC;
}

main {
    width: 375px;
    background-color: rgb(245, 237, 228);
    border-radius: 20px;
    margin: 0 auto;
    padding: 44px 24px 23px;
}

.logo {
    width: 300px;
    margin: 20px auto;
    display: block;
}

label {
    color: #777777;
    font-weight: 500;
    font-size: 14px;
}

select, input {
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
}

button {
    background-color: #772FD3;
    border-radius: 5px;
    width: 100%;
    border: none;
    height: 48px;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    opacity: 0.6;
}

section {
    border: 1px solid #772FD3;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seta {
    margin-top: 20px;
    margin-bottom: 20px;
}

.p1 {
    color: #777777;
    font-size: 14px;
    margin-top: 4px;
    font-weight: 700;
}

.p2 {
    margin-top: 4px;
    color:#555555;
    font-size: 14px;
    font-weight: 700;
}

.p3 {
    color: #777777;
    font-size: 14px;
    font-weight: 700;
    margin-top: 4px;
}

.p4 {
    margin-right:19px;
    color: #555555;
   margin-top: 4px;
   margin-left: 15px;
}

.currency-img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}